/**
 * feed.css
 *
 * Styling for a feed on the home page
 */

.feed {
  max-width: 800px;
  display: block;
  margin: 12px auto;
  padding: 12px;
  font-family: "Garamond";
}

.feed .entry {
  padding: 8px;
  /*
  border-bottom: solid;
  border-width: 1px;
  */
  border: solid 8px;
  border-color: #eee;
  border-radius: 8px;
  margin: 16px 8px 16px 8px;
  color: #000;
  text-decoration: none;
  display: block;
}

.feed .entry:hover {
  background: #eee;
}

.feed .entry .date {
  font-size: 12px;
  float: right;
}

.feed .entry .banner {
  height: 75px;
}

.feed .entry .smimg {
  height: 75px;
  width: 75px;
  background-position: center;
  background-size: cover;
}

.feed .entry .sqimg {
  height: 300px;
  width: 300px;
  background-position: center;
  background-size: cover;
}

.feed .entry h3 {
  padding: 4px;
  margin: 4px 0 4px 0;
  font-size: 30px;
  font-family: "Arial";
}

.feed .entry .text {
  padding: 4px;
}

.highlightback {
  display: block;
  height: 250px;
  background-image: url('../images/2019/s2.jpg');
  background-position: center;
}

.highlight {
  width: 125px;
  height: 125px;
  background-position: center;
  background-size: cover;
  margin: 36px auto;
}
