body {
	/*background-image: url(../images/cloud_shot.png);*/
	/*background-image: url(../images/old-volcano2.jpg);
	background-position: center;
	background-attachment: fixed;*/
}

#top_info_section {
	padding-top: 30px;
	padding-bottom: 50px;
	/*background: url("../images/noisy.png") repeat;*/
	background: #ffffff;
}

#bot_info_section {
	/*background: url("../images/noisy.png") repeat;*/
	background: #ffffff;
    padding-bottom: 50px;
}

div {
	padding: 0px;
	height: 100%;
}

#titlePiece {
	padding-top: 0px;
	width: 100%;
	height: #c8c8c8;
	background-image: url(../images/water_tree.jpg);
	background-position: 60% 60%;
	background-attachment: fixed;
	transition: 0.3s;
}

#titlePiece:hover {
	/*background: #000000;*/
	/*transition: 0.3s;*/
	/*opacity: 0.5*/
}

#newsWrapper {
	background-image: url(../images/desk_shot.jpg);
	background-position: center;
	background-attachment: fixed;
	padding-bottom: 60px;
}

#head_underliner {
	display: table;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 5px;
	background: #707070;
}

.site_description {
	margin-left: 17px;
	margin-right: 17px;
	text-align: center;
	padding-top: 30px;
	font-size: 22px;
}

#mobile_apps {
	padding-top: 0px;
	padding-bottom: 0px; /* USED TO BE 50px*/
}

.main_point {
	font-size: 30px;
}

.secondary_point {
	font-size: 25px;
}

#mobile_app_title {
	padding: 20px;
	padding-top: 50px;
	font-size: 50px;
	color: #707070;
}

.dev_pic {
	width: 360px;
	transition: 0.3s;
	padding: 0px;
}

.dev_pic_viewing {
	transition: 0.3s;
	padding: 25px;
}

.breaker {
	width: 100%;
	height: 60px;
	background-image: url(../images/casual.jpg);
	background-attachment: fixed;
	background-position: 10% 50%;
	opacity: 1.0;
	transition: 0.3s;
}

.opaque_breaker {
	width: 100%;
	height: 120px;
	background-image: url(../images/casual.jpg);
	background-attachment: fixed;
	background-position: 75% 50%;
	opacity: 1.0;
	transition: 0.3s;
}

.app_descriptors {
	font-size: 20px;
}

.newGreyText {
	color: #707070;
}

#bakeImg {
	position:relative;
	top: 90px;
	padding-bottom: 0px;
	transition: 0.3s;
}

#bakeImg:hover {
	padding-bottom: 90px;
	transition: 0.3s;
}

#fresh_section {
	margin-left: 30px;
	margin-right: 30px;
	padding-top: 60px;
	margin-bottom: 60px;
	transition: 0.3s;
	/*background: url("../images/light.png") repeat;*/
	background: #ffffff;
}

#fresh_section:hover {
	transition: 0.3s;
	box-shadow: 10px 10px 10px #000000;
}

#fresh_descrip {
		color: #707070;
}

#assetTxt {
	margin-left: 20px;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	margin-top: 0px;
	font-size: 50px;
	color: #707070;
}

.shadowed {
	box-shadow: 1px 1px 10px #383838;
}

#uphw_navbar {
	position: fixed;
	height: 60px;
	width: 100%;
	background: #000000;
	opacity: 0.8;
	z-index: 1;
}

.navbar_link {
	text-decoration: none;
	margin-left: 18px;
	line-height: 60px;
	font-weight: bold;
}

@media (max-height: 680px) {
	#titlePiece {
		padding-top: 40px;
		height: 680px;
	}
}

@media (max-width: 900px) {
	#assetTxt {
		font-size: 40px;
		padding-top: 10px;
	}
}

@media (max-width: 800px) {

	#site_description {
		font-size: 16px;
	}
}

@media (max-width: 700px) {

	#bakeImg {
		height: 150px;
		width: 150px;
		top: 65px;
	}
}

@media (max-width: 640px) {

	#assetTxt {
		margin-left: 0px;
	}
	
	#fresh_descrip {
		margin: 16px;
	}
	
	#works_section {
		margin: 16px;
	}

	#fresh_section {
		margin-left: 0px;
		margin-right: 0px;
	}

	#dev_pic {
		width: 270px;
	}

	#main {
		font-size: 280%;
	}
	
	.main_point {
		font-size: 25px;
	}
	
	#supMain {
		font-size: 110%;
		margin-top: 30px;
	}
	
	#assetTxt {
		font-size: 30px;
	}
	
	#workTxt {
		font-size: 30px;
	}
}

@media (max-width: 540px) {

	#uphwImage {
		margin-left: 0px;
		width: 200px;
		height: 200px;
	}
	
	#main {
		font-size: 165%;
	}
	
	#supMain {
		font-size: 90%;
		margin-top: 21px;
	}
	
	#app1,#app2,#app3 {
		display: table;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (max-width: 400px) {
	
	.main_point {
		font-size: 21px;
	}
	
	#pencilImg {
		height: 150px;
		width: 150px;
	}
}

@media print {
	#uphwImage, #breaker {
		height: 0px;
		margin-top: 0px;
	}	
	
	#supMain {
		margin-left: 16px;
	}
	
	#my_name_is_sect,#my_profession_is {
		text-align: left;
	}
	
	#dev_pic {
		width: 205px;
		height: 145px;
		margin-left: 16px;
	}
	
	.centerText, #as_well_section {
		margin-left: 16px;
	}
	
	.showcase {
		width: 125px;
		height: 125px;
		float: left;
		margin-top: 16px;
	}
	
	#bakeImg {
		height: 100px;
		width :100px;
	}
}