* {
	color: #FFFFFF;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0px;
}

.title {
	text-align: center;
	font-size: 60px;
	margin: 20px;
}

body {
	background: #00CCFF;
}

.block {
	height: 300px;
}

.center {
	margin-left: auto;
	margin-right: auto;
	display: table;
}

.centerText {
	text-align: center;
	vertical-align: middle;
}

.logoText {
	margin-top: 35px;
	vertical-align: middle;
}

.item {
	margin-top: 25%;
	width: 100%;
	box-shadow: 1px 1px 20px #000000;
	height: 110%;
}

.plainItem {
	margin-top: 25%;
	width: 100%;
	height: 110%;
}

.footer {
	background: #383838;
	width: 100%;
	padding-bottom: 15px;
	height: 50px;
}

.regItem {
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10%;
}

#uphwImage {
	margin-left: 1%;
	height: 300px;
	width: 300px;
}

.blueText {
	color: #00CCFF;
}

.large {
	font-size: 40px;
}

.medium {
	font-size: 30px;
}

.small {
	font-size: 18px;
}

.stdPara {
	font-size: 18px;
	margin: 50px;
	margin-left: 25%;
}

.sideBar {
	box-shadow: 2px 2px 20px #FFFFFF;
	width: 150px;
	margin: 20px;
	margin-top: 40px;
	float: left;
}

.sideBarItem {
	color: #00CCFF;
	margin-top: 2px;
	background: #FFFFFF;
	height: 40px;
	font-size: 25px;
	margin-left: 40px;
}

.showcase {
	height: 200px; 
	width: 200px;
	box-shadow: 1px 1px 10px #000000;
	margin: 10px;
}

.page {
	height: 110%;
}

.page_header {
	position: absolute;
    top: 0px;
    bottom: 0px;
    width: 100%;
}

.rightImage {
	display: block;
	margin-left: auto;
	margin-right: 2%;
}

.liftedImage {
	box-shadow: 1px 1px 20px #000000;
	margin: 20px;
}

.lifted {
	box-shadow: 1px 1px 20px #000000;
}

.link {
	text-decoration: none;
}

.link:hover
{ 
	color: #C0C0C0;
}

.fancyFont {
	font-family: Papyrus;
}

@media print {
	
}

@media screen {
	
}
