<IfModule mod_expires.c>

#Enable Experations
ExpiresActive On

#Default Directive
ExpiresDefault "access plus 2 weeks"

ExpiresByType image/x-icon "access plus 1 year"

ExpiresByType image/png "access plus 1 month"

ExpiresByType text/css "access plus 2 weeks"

ExpiresByType application/javascript "access plus 1 week"

ExpiresByType applicaiton/svg "access plus 1 month"

</IfModule>
