<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
<!DOCTYPE html>
<link rel="stylesheet" href="css/uphw.css">
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Sharing the works of Benjamin Wilson Friedman.">
    <meta name="author" content="Benjamin Wilson Friedman">
    <title>UphouseWorks</title>
    
    <link rel="canonical" href="http://www.uphouseworks.com" />
	<link rel="author" href="https://plus.google.com/100154577387983623561/posts"/>
    
    <!--<%= csrf_meta_tags %>-->

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
    <![endif]-->

    <!--<%= stylesheet_link_tag "application", :media => "all" %>-->

    <!--%= javascript_include_tag "application" %>-->
    
    <script type="text/javascript">

  		var _gaq = _gaq || [];
  		_gaq.push(['_setAccount', 'UA-47712445-1']);
  		_gaq.push(['_trackPageview']);

  		(function() {
    		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  		})();

	</script>
	
	<link rel="icon" type="image/ico" href="/images/favicon.ico">
    
  </head>
  <body class = "bodyBacker">
  
  	<div id="wrap">
  
  	<div class = "navbar navbar-inverse navbar-fixed-top navigator" role = "navigation">
		<div class="navbar-inner">
        	<div class="container-fluid">
          		<a id = "specialButton" class="btn btn-navbar dropDownButton" data-target=".nav-collapse" data-toggle="collapse">
            		<span class="icon-bar"></span>
            		<span class="icon-bar bar2" id = "bar22"></span>
            		<span class="icon-bar bar3" id = "bar33"></span>
          		</a>
          		<a class="brand" href="/">UphouseWorks</a>
          		<div class="container-fluid nav-collapse">
        			<ul class="nav">
						<li>
							<a href="/our_work/Works">Works</a>
						</li>
						<li>
							<a href="/our_thoughts/About">About</a>
						</li>
						<li>
							<a id = "lastLinkItem" href="/contact/Contact">Contact</a>
						</li>
            		</ul>
          		</div><!--/.nav-collapse -->
        	</div>
    	</div>
	</div>
	
	<!--Social Media Buttons-->
	<div style = "float: right; width: 100%; margin-bottom: 0px; background-color: #000000;">
	
		<!--FACEBOOK-->
		<div style = "float: left; width: 107px; height: 37px; margin-right: 15px; margin-left: 5px;">
			<div class="fb-like socialMediaButton" style = "width: 92px; height: 20px;" data-href="https://www.facebook.com/uphouseworks" data-layout="button" data-action="like" data-show-faces="false" data-share="true"></div>
		</div>
		
		<!--TWITTER-->
		<div class="socialMediaButton" style = "margin-left: 5px;">
			<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.uphouseworks.com" data-hashtags="uphouseworks">Tweet</a>
		</div>
		<!--For Twitter-->
		<script>
			(function(d,s,id)
			{
				var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';
				//if(!d.getElementById(id))
				//{
					js=d.createElement(s);
					js.id=id;
					js.async = true;
					js.src=p+'://platform.twitter.com/widgets.js';
					fjs.parentNode.insertBefore(js,fjs);
				//}
			}
			(document, 'script', 'twitter-wjs'));
		</script>
		
		<!--GOOGLE +-->
		<div class="googlePlusButton" style = "margin-left: 5px;">
			<!--<div class="g-plusone" style = "margin-top: 80px; float: right;" data-annotation="inline" data-width="300"></div>-->
			<!-- Place this tag after the last +1 button tag. -->
			<g:plusone></g:plusone>
		</div>
		
		<!--For Google +-->
		<script type="text/javascript">
  			(function() 
  			{
    			var po = document.createElement('script'); 
    			po.type = 'text/javascript'; 
    			po.async = true;
    			po.src = 'https://apis.google.com/js/platform.js';
    			var s = document.getElementsByTagName('script')[0]; 
    			s.parentNode.insertBefore(po, s);
  			})();
		</script>
		
		<!--For Facebook-->
		<div id="fb-root"></div>
		<script type="text/javascript">
		(function(d, s, id) 
		{
  			var js, fjs = document.getElementsByTagName(s)[1];
  			if (d.getElementById(id)) return;
  			js = document.createElement(s); 
  			js.id = id;
  			js.async = true;
  			js.src = "https://connect.facebook.net/en_US/all.js#xfbml=1&status=0";
  			fjs.parentNode.insertBefore(js, fjs);
		}
		)(document, 'script', 'facebook-jssdk');
		
		//this makes sure the facebook button IS rendered in everytime.
		//issue on chrome (& safari?), this is the fix
		FB.XFBML.parse();
		
		</script>
	</div>
	
	<!--<script canvas="canvas" type="text/paperscript" src="/assets/bubbleAffect.js"></script>-->
	
	<!--
	<div class="animatedBack" style = "clear: both; margin-top: 0px;">
		<canvas id="canvas" resize hidpi="off" style="background:none;"></canvas>
	</div>
	-->
  
  	<div class = "page-wrapper">
