{{ define "main" }}
<article class="feed">
    <div class="entry">
      <header id="post-header">

          <p><a href="/">Home</a> / <a href="/posts/">posts</a> / {{ .Title }}</p>

          <div class="sqimg" style="width:100%;display:inline-block;background-image:url('{{ .Page.Params.image }}');background-repeat:no-repeat;background-size:cover"></div>
          <h1>{{ .Title }}</h1>
          <h2>{{ .Page.Params.description }}</h2>
          <div>
          {{- if isset .Params "date" -}}
              {{ if eq .Lastmod .Date }}
              <p class="date">by {{ .Page.Params.author }}, <time>{{ .Date.Format "January 2, 2006" }}</time></p>
              {{ else }}
              <p class="date">updated by {{ .Page.Params.author }} on <time>{{ .Lastmod.Format "January 2, 2006" }}</time></p>
              {{ end }}
          {{- end -}}
          </div>
      </header>
      {{- .Content -}}
    </div>
</article>
{{ end }}
