	
	<div class="imgHeader">
	</div>

	<h1>
		Works
	</h1>
	
	<h2 class = "grayText">
		For the love of making new things.
	</h2>
	
	<div>
	
		<div class = "projectItem">
			<br>
			<a style = "color: black;" href = "/about_azul/HangmanAzul">
			<h2 class = "projectTitle" style = "text-decoration: underline;">
				Hangman Azul
			</h2>
			<br>
			<div class = "projectImage">
				<img src = "/images/azul_512.png" style = "max-width:180px; max-height:180px;">
			</div>
			</a>
			
			<p class = "projectDescrip">
				<br>
					A multiplayer bluetooth application for friends and family to enjoy!<br>
					Currently available for Android.<br>
					Check it out <a style = "color: black; text-decoration: underline;" href = "/about_azul/HangmanAzul">here</a>.
				<br>
				<br>
			</p>
			
		</div>
		
		<!--
		<div class = "projectItem">
			<br>
			<a style = "color: black;" href = "/about_bit_shooter/AboutBitShooter">
			<h2 class = "projectTitle" style = "text-decoration: underline;">
				Bit Shooter on the App Store
			</h2>
			<br>
			<div class = "projectImage">
				<%= image_tag "bsImg.png" %>
			</div>
			</a>
			
			<p class = "projectDescrip">
				<br>
				Now available for download on the App Store!
				<br>Check it out <a style = "color: black; text-decoration: underline;" href = "/about_bit_shooter/AboutBitShooter">here</a>.
				<br>
				<br>
			</p>
		</div>
		-->
		
		<div class = "projectItem">
			<br>
			<a style = "color: black;" href = "/about_floidia/Floidia">
			<h2 class = "projectTitle" style = "text-decoration: underline;">
				Floidia
			</h2>
			<br>
			<div class = "projectImage">
				<img src = "/images/floidialogo.png" style = "max-width:180px; max-height:180px;">
			</div>
			</a>
			
			<p class = "projectDescrip">
				<br>
					A clean, simple, and engaging soundboard app.<br>Currently available for Android.<br>Check it out <a style = "color: black; text-decoration: underline;" href = "/about_floidia/Floidia">here</a>.
				<br>
				<br>
			</p>
			
		</div>
		
		<div class = "projectItem">
			<br>
			<a style = "color: black;" href = "https://github.com/montymxb/Tex-Shack">
			<h2 class = "projectTitle" style = "text-decoration: underline;">
				TexShack
			</h2>
			
			<br>
		
			<div class = "projectImage">
				<img src = "/assets/texShack.png" style = "max-width:180px; max-height:180px;">
			</div>
			</a>
			
			<p class = "projectDescrip">
				<br>
					An OpenGL ES based text glyph package for iOS.<br>
					Allows you to easily get started with rendering text in your OpenGL apps.<br>
					Check it out <a style = "color: #202020; text-decoration: underline;" href = "https://github.com/montymxb/Tex-Shack">here</a>.
				<br>
				<br>
			</p>
			
		</div>
		
		<div class = "projectItem">
			<br>
			<a style = "color: black;" href = "/about_bit_shooter/AboutBitShooter">
			<h2 class = "projectTitle" style = "text-decoration: underline;">
				Bit Shooter
			</h2>
		
			<div class = "projectImage" style = "margin-top: 20px;">
				<%= image_tag "bsImg.png", :style => "max-width:180px; max-height:180;"%>
			</div>
			</a>
			
			
			<p class = "projectDescrip">
				A <i>free</i> app available on <br>Google Play<br> and <br>the App Store.<br>
				<br>Bit Shooter is a retro-style shooter.
				<br>Play as a ship that fights off increasingly difficult waves of enemies in an infinite style mode.
				<br>Conquer all 80 Bit Shooter missions with upgrades and skill!
				<br>Check it out <a style = "color: black; text-decoration: underline;" href = "/about_bit_shooter/AboutBitShooter">here</a>.
				<br>
				<br>
			</p>
			
		</div>
				
	</div>
	
	<div id="push"></div>
	</div>
