<footer id="footer">
    <span>Copyright &copy; {{ .Site.Params.author }} {{ .Date.Format "2006" }}</span>
    <br/>
    <div class="fimg" style="background-image: url('/images/spatial_script_bw.png')"></div>
    <br/>
    <a href="https://www.linkedin.com/in/benwilsonfriedman/"><i class="fab fa-linkedin"></i> LinkedIn </a> •
    <a href="/contact/"><i class="fas fa-envelope-square"></i> Contact</a> •
		<a href="/Privacy/index.html"><i class="fas fa-user-lock"></i> Privacy</a> •
		<a href="/Terms/index.html"><i class="fas fa-scroll"></i> Terms of Service</a> •
    <a href="https://github.com/montymxb"><i class="fab fa-github-square"></i> Github</a>
</footer>
